:root {
  --white-color: #ffffff;
  --black-color: #3b3b39;
  --sidebar-color: #f0eadf;
  --button-color: #373735;
  --info-color: #eee9de;
  --foobar-color: #d9d9d9;
  --icon-color: #373735;
  --brown-color: #6a3b51;

  --padding: 25px 28px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Size include padding and margin */
}

a {
  text-decoration: none;
}

/*------------------------------------------------*/
/* navbar */

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  align-items: center; /* Align text in one line */
  padding: 0px 12px;
  background-color: var(--white-color);
  border-bottom: rgb(196, 196, 196);
  border-bottom-width: 0.5px; /* 왜 안보임 */
  border-bottom-style: solid;
}

.navbar .title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding: 20px;
}

.navbar .navbar_list {
  list-style: none;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar .navbar_list li {
  padding: 8px 45px;
}

.navbar .menu_str {
  display: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar .menu_icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar .title {
    font-size: 18px;
    padding: 2px;
  }

  .navbar .navbar_list {
    display: none;
  }

  .navbar .menu_str {
    display: inline;
  }

  .navbar .menu_icon {
    display: inline;
  }
}

/*------------------------------------------------*/
/* navbar__side */

.navbar__side {
  display: none;

  height: 100%; /* When open, */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 59px; /*수정하기*/
  right: 0;
  background-color: var(--sidebar-color);
  overflow-x: hidden; /* To handle when it is too large */
  transition: 0.5s; /* don't support */
  padding-top: 60px;
}

.navbar__side a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-align: right;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px;
}

.navbar__side .navbar__icons {
  display: none;
  list-style: none;
  justify-content: space-around; /*추가: 아래쪽에 배치*/
}

.navbar__side .navbar__icons.active {
  display: flex;
}

.navbar__side.active {
  display: flex;
}

.navbar__side .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*------------------------------------------------*/
/* main-img */

.main-Img {
  display: flex;
  flex-direction: column;
}

.main-Img img {
  float: right; /* Alignment: right */
  height: 60vh; /* vw: using viewport */
  object-fit: cover;
}

/*------------------------------------------------*/
/* container */

.container {
  font-family: "Noto Sans KR", sans-serif;
}

/*------------------------------------------------*/
/* container > main-grid */

.main-grid {
  display: flex; /* div: row align */
  flex-direction: row;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.main-grid .col {
  padding: var(--padding);
  width: 100vh;
}

.main-grid .col .title {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .main-grid {
    justify-content: center;
    flex-direction: column;
  }

  .main-grid .col {
    justify-content: center;
    padding: var(--padding);
    width: 45vh;
  }

  .main-grid .col .desc {
    font-size: 13px;
    letter-spacing: 0.7px;
    line-height: 1.5;
  }
}

/* .shop-img-box .box img {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.shop-img-box .box img:hover {
  transform: scale(1.1);
}

.box {
  overflow: hidden;
} */

.main-grid .col .desc {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.main-grid .title {
  text-transform: uppercase;
}

/*------------------------------------------------*/
/* container > main-journal */

.main-journal {
  /* display: table; */
  /* 2 x 2 */
  text-align: center;
  width: 98%; /* To create side(right & left) margins */
  margin: 1%; /* To set center align */
}

.main-journal img {
  width: 90%;
}

.main-journal .row {
  display: table-row;
}

.main-journal .box {
  display: table-cell;
}

.main-journal .title {
  text-transform: uppercase;
  margin: 15px 0px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}

.main-journal .desc {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .main-journal {
    display: flex;
    flex-direction: column;
  }

  .main-journal .row {
    display: flex;
    flex-direction: column;
  }

  .main-journal .box {
    display: flex;
    flex-direction: column;
  }

  .main-journal img {
    width: 90%;
  }
}

/*------------------------------------------------*/
/* container > shop-img-box */

.shop-img-box {
  width: 93%;
  /* (3 points) To make center align */
  margin: 0px auto;
  margin-left: auto;
  margin-right: auto;
}

.shop-img-box img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  padding-bottom: 20px;
}

.shop-img-box .row {
  display: table-row;
}

.shop-img-box .left-pd {
  display: table-cell;
  width: 40%;
}

.shop-img-box .right-pd {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .shop-img-box {
    display: flex;
    flex-direction: column;
  }

  .shop-img-box img {
    /* display: block; */
    vertical-align: top; /* To remove space between images */
  }

  .shop-img-box .row {
    display: flex;
    flex-direction: column;
  }
}
