:root {
  --white-color: #ffffff;
  --black-color: #3b3b39;
  --sidebar-color: #f0eadf;
  --button-color: #373735;
  --info-color: #eee9de;
  --foobar-color: #d9d9d9;
  --icon-color: #373735;
  --brown-color: #6a3b51;

  --padding: 25px 28px;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*------------------------------------------------*/
/* navbar */

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  text-align: center;
  background-color: var(--white-color);
  color: var(--black-color);
  border-bottom: lightslategray;
  border-bottom-width: 10px; /* 왜 안보임 */
}

.navbar .title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding: 15px;
}

.navbar .menu {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar span {
  font-size: 18px;
  cursor: pointer;
  padding: 15px;
}

/*------------------------------------------------*/
/* navbar__side */

.navbar__side {
  display: none;

  height: 100%; /* When open, */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 59px; /*수정하기*/
  right: 0;
  background-color: var(--sidebar-color);
  overflow-x: hidden; /* To handle when it is too large */
  transition: 0.5s; /* don't support */
  padding-top: 60px;
}

.navbar__side a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-align: right;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px;
}

.navbar__side .navbar__icons {
  display: none;
  list-style: none;
  justify-content: space-around; /*추가: 아래쪽에 배치*/
}

.navbar__side .navbar__icons.active {
  display: flex;
}

.navbar__side.active {
  display: flex;
}

.navbar__side .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu_icon {
  font-size: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.main img {
  float: right; /* Alignment: right */
  height: 50vh; /* vw: using viewport */
}

.main_Img {
  /*cover를 img에 적용시키면 안 들어가짐 왜임*/
  object-fit: cover;
}

/*------------------------------------------------*/
/* container */

.container {
  font-family: "Noto Sans KR", sans-serif;
}

.main-journal img,
.shop-img-box img {
  justify-content: center;
  width: 90%;
}

.shop-img-box,
.main-journal {
  text-align: center;
}

.main-journal .title {
  text-transform: uppercase;
  margin: 15px 0px;
  font-weight: bold;
  font-size: 15px;
}

.main-journal .desc {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 50px;
}

.main-grid {
  display: flex; /* div: row align*/
  flex-direction: row;
  text-align: center;
  /* width: 100%; */
  padding-top: 20px;
  padding-bottom: 100px;
}

.main-grid .col {
  padding: var(--padding);
  width: 100vh;
}

.main-grid .col .title {
  /* padding: 25px; */
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .main-grid {
    justify-content: center;
    flex-direction: column;
  }

  .main-grid .col {
    justify-content: center;
    padding: var(--padding);
    width: 45vh;
  }

  .main-grid .col .desc {
    font-size: 13px;
    letter-spacing: 0.7px;
    line-height: 1.5;
  }
}

/* .shop-img-box .box img {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.shop-img-box .box img:hover {
  transform: scale(1.1);
}

.box {
  overflow: hidden;
} */

.main-grid .col .desc {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.main-grid .title {
  text-transform: uppercase;
}
